@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen_header.css";
@import "components/user-component.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #2e363e;
  font-family: "Bebas Neue", cursive;
  height: 1000vh;
}
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.8;
  font-size: 18px;
}
